<div id="container">

<h1>The Name Game</h1>

<button onClick=startGame() id="start">PLAY</button>

<div id="name"></div>

<div id="buttons">

<button hidden id="male" onclick=fetchGender("male")>Male</button>
<button hidden id="female" onclick=fetchGender("female")>Female</button>
<button hidden id="mixed" onclick=fetchGender("mixed")>Mixed</button>

<button hidden id="retry" onclick="startGame()">Retry</button>

</div>

<div id="points" hidden>Your points: </div>

</div>