<div id="container">

<h1>The Name Game</h1>

<button onClick=startGame() id="startButton">Start game</button>

<p id="name" hidden></p>

<button id="male" hidden onclick=fetchGender()>Male</button>
<button id="female" hidden>Female</button>

<div id="points"></div>

</div>